{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}
    <div class="custom-dashboard">
        <h2>Welcome to the Custom Admin Dashboard</h2>
        <p>Manage users, rewards, and restaurants easily.</p>

        <div class="dashboard-box">
            <a href="/admin/users/" class="dashboard-link">Users</a>
            <a href="/admin/restaurants/" class="dashboard-link">Restaurants</a>
            <a href="/admin/stamps/" class="dashboard-link">Stamps</a>
            <a href="/admin/rewards/" class="dashboard-link">Rewards</a>
        </div>
    </div>
{% endblock %}
